elasticsearch==9.0.2
faiss-cpu==1.11.0
huggingface-hub==0.34.3
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.72
langchain-ollama==0.3.6
langchain-text-splitters==0.3.9
langsmith==0.4.8
ollama==0.5.1
PyMuPDF==1.26.3
requests==2.32.4
safetensors==0.6.1
scikit-learn==1.7.1
scipy==1.16.1
sentence-transformers==5.1.0
streamlit==1.47.1
tokenizers==0.21.4
torch==2.8.0
tqdm==4.67.1
transformers==4.55.0
